	<footer class="footer" style="clear:both;">
    	<span class="footer__copyright">本站点采用<a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">知识共享 署名-非商业性使用-相同方式共享 4.0 国际 许可协议</a></span>
		<span class="footer__copyright">本站由 <a href="https://samzong.me">@SAZMONG</a> 创建，您可以在 GitHub 上找到该主题<a href="https://github.com/SAMZONG/OneV-s-Den">开源代码</a> - &copy; 2017</span>
	</footer>

